BETTER_AUTH_SECRET=ourcwtch-secret-key-2026
BETTER_AUTH_URL=https://ourcwtch.vercel.app
DATABASE_URL=file:./ourcwtch.db
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=demo@ethereal.email
SMTP_PASS=demo123
SMTP_FROM="OurCwtch" <noreply@ourcwtch.app>
